body{
    padding: 0;
    margin: 0;
}
.menu-list{
    text-decoration: underline;
    list-style-type: none;
    display: flex;
    background-color: rgb(35, 139, 236);
}
li{
    padding-left: 3rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
}
a{
     color: aliceblue;
     padding: 3px;
}
 .menu-list li a:hover{
    color: aquamarine;
 }

 nav{
  
    height: 20px;
 }